@media all and (min-width:760px) and (max-width:999px){
    #wrap{width: 100%; position: relative; float: left; background-color: #131313;}
    
    section,footer{width: 100%; float: left; position: relative;}
    #logo{width:100px; height: 50px; position:fixed;
        top: 30px; right: 30px; z-index: 9999;}
    #logo>a>#logo_img{width: 100%; height: auto;}
    #sec_1{height:600px; background-image: url(../img/main_bg.png);
        background-position: center; background-size: cover;}
    
    #sec_1_conWrap{width: 80%; height: 450px; position: absolute; z-index: 9999;
        bottom: 0px; left: 50%; margin-left: -400px;}
    #sec_1_textBox{width: auto; height: auto; font-family: 'EB Garamond', serif; color: white;  margin-left: 5%;}
    #text_bd{width: 8px; height: 90px; background-color: #9e0007; float: left; margin-right: 20px;}
    #sec_1_1text{font-size: 20px; font-weight: 200; padding-bottom: 5px;}
    #sec_1_2text{font-size: 30px; font-weight: 200; padding-bottom: 5px;}
    #sec_1_3text{font-size: 18px; font-weight: 200; padding-bottom: 20px;}
    .car_img{width: 500px; height: auto; overflow: hidden; margin-left: 30%;}
    #red_car{width: 100%; height: auto; }
    /*sec_1------------*/
    
    #sec_2{height:auto; overflow: hidden;margin:50px 0 100px 0;}
    #sec_2_wrap{width:88.541%;/*1700*/ height: 100%; margin: 0 auto;}
    .title_wrap{width: auto; height: auto;color:#fff; font-family: 'EB Garamond', serif;
        margin-bottom: 50px;}
    .color_box{width: 5px; height: 30px; float: left; margin-top: 10px; margin-right: 15px; background-color: #989898;}
    .title{width: auto; height: auto; font-size: 28px; font-weight: 500; margin-bottom: 7px; line-height: 48px;}
    .text{width: auto; height: auto; font-size: 14px; font-weight: 300; font-family:'Noto Sans KR', sans-serif;}
    .text>span{font-family: 'EB Garamond', serif; font-size: 16px;}
    
    #sec_2_conWrap{width: 100%; height: auto; overflow: hidden;}
    #sec_2_topCon{width: 100%; height: auto; overflow: hidden; }
    #sec_2_con_1{width: 100%; height: auto; overflow: hidden;}
    #sec_2_img_1{width: 48.823%; height: auto; overflow: hidden;float: left;}
    #sec_2_img_1>img{width: 100%; height: auto;}
    .sec_2_textBox{width: auto; height: auto; overflow: hidden; color: white; font-family: 'Noto Sans KR', sans-serif;}
    .sec_2_title{width: auto; height: auto; font-size: 20px; font-weight: 500; margin-bottom: 20px;}
    .sec_2_text{width: auto; height: auto; font-size: 14px; margin-bottom: 5px; letter-spacing: ; font-weight: 200;
        color: #ccc;}
    #left{padding-left: 30px;}/*물어보기 마진 안들어감*/
    .border_m{margin-bottom: 50px;}
    .sec_2_textBorder{width: 40px; height: 2px; background-color: #ccc; }
    /*sec_2_1*/
    #sec_2_con_2{width: 100%; height: auto; overflow: hidden; margin-top: -30px;}
    #sec_2_img_2{width: 44.117%; height: auto; overflow: hidden; float: right;}
    #sec_2_img_2>img{width: 100%; height: auto;}
    .sec_2_textBox{width: auto; height: auto; overflow: hidden; color: white; font-family: 'Noto Sans KR', sans-serif;}  
    .right_b{float: right;}
    .right_m{text-align: right;}
    .right_p{padding-right: 30px; padding-top: 100px;}
    /*sec_2_2*/
    #sec_2_con_3{width: 100%; height: auto; overflow: hidden; margin-top: 80px;}
    #sec_2_img_3{width: 44.117%; height: auto; overflow: hidden; float: left;}
    #sec_2_img_3>img{width: 100%; height: auto;}
    /*sec_2_3*/
    #sec_2_con_4{width: 100%; height: auto; overflow: hidden; margin-top: -30px;}
    #sec_2_img_4{width: 49.470%; height: auto; overflow: hidden;float: right;}
    #sec_2_img_4>img{width: 100%; height: auto;}
    .right_4{padding-top:100px; padding-right: 30px;}
    /*sec_2-----------------------------*/
    
    #sec_3{width: 100%; height: auto; overflow: hidden; background-image: url(../img/sec_3_bg.jpg); 
        background-size: cover; background-position: center;}
    #sec_3_wrap{width: 90%; height: auto; margin: 0 auto;}
    #sec_3_car{width: 39.571%; height: auto; overflow: hidden; float: left; margin-top: 200px; margin-left: 50px; opacity: 0;}
    #sec_3_car>img{width: 100%; height: auto; }
    #sec_3_conWrap{width: 43.571%; height: auto; overflow: hidden; float: right; margin-bottom: 50px;}
    .sec_3_con{width: 46.721%; height: auto; overflow: hidden; float: left;}
    .sec_3_con>img{width: 100%; height: auto; transition-duration: 1s;}
    .margin_R{margin-right: 6.558%;}
    #mar_bot{margin-bottom: 25px;}
    .sec_3_titleWrap{width:auto; text-align: left; margin-top: 50px;}
    #sec_3_mo_wrap{display: none;}
    #mo_img_wrap{display: none;}
    
    /*sec_3_---------------------*/
    
    #sec_4{width: 100%; height: 500px; background-image: url(../img/sec_4_bg.jpg); margin: 100px 0;
        background-size: cover; background-position: center;}
    #sec_4_wrap{width: 90%; height: 100%; margin: 0 auto;}
    .sec_4_con{width: 23.5%; height: auto; float: left; margin-right: 2%; position: relative;}
    .sec_4_con:last-child{margin-right: 0;}
    .sec_4_con>img{width: 100%; height: auto;}
    #sec_4_titleWrap{margin-top: 50px;}
    .sec_4_hoverBox{display: none;
        width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0;
        font-family: 'Noto Sans KR', sans-serif;}
    .hover_text{width: auto; height: auto; font-size: 24px; text-align: center; color: white; margin-top: 40%; 
        font-weight: 400;}
    .hover_more{width: 130px; height: 30px; font-size: 14px; text-align: center; color: white;
        border: 2px solid #fff; margin: 20px auto; line-height: 30px; border-radius: 10px;}
    #sec_2_moWrap{display: none;}
    #sec_5{height: auto; overflow: hidden; margin-bottom: 80px;}
    #sec_5_wrap{width: 95%; height: 100%; margin: 0 auto;}
    #sec_5_conWrap{width: 100%; height: auto; overflow: hidden;}
    #sec_5_topBox{width: 100%; height: auto; overflow: hidden; margin-bottom: 30px; }
    #sec_5_topBox>img{width: 100%; height: auto;}
    #sec_5_botBox{width: 100%; height: auto; overflow: hidden;}
    #sec_5_botIn_leftBox{width: 49%; height: auto; overflow: hidden; float: left; margin-right: 2%;}
    .in_img{width: 100%; height: auto; overflow: hidden; margin-bottom: 30px;}
    .in_img>img{width: 100%; height: auto;}
    #sec_5_botIn_rightBox{width: 49%; height: auto; overflow: hidden; float: right;}
    #sec_5_botIn_rightBox>img{width: 100%; height: auto;}
    #sec_5_bottomBox{width: 100%; height: auto; overflow: hidden;}
    #sec_5_bottomBox>img{width: 100%; height: auto;}
    
    #sec_6{height: 60px; color: white; font-family: 'Noto Sans KR', sans-serif; font-size: 18px;}
    #sec_6>p{width: 600px; height: 100%; border: 1px solid #fff; margin: 0 auto; text-align: center; line-height: 60px;}
    #sec_6>p>span{ font-family: 'EB Garamond', serif; font-size: 24px;}
    
    footer{width: 100%; height: 400px; margin: 100px 0 0 0; font-family :'Noto Sans KR',sans-serif;
        background-image: url(../img/footer_bg.jpg); background-size: cover; background-position: center;}
    #footer_img{width:150px; height: 30px; margin: 100px auto 50px auto;}
    #footer_img>a{width: auto; height: auto; overflow: hidden; float: left; margin-right: 20px;}
    #footer_img>a:last-child{margin-right: 0;}
    #footer_img>a>img{width: auto; height: auto;}
    #in_footer{width: 500px; height: auto; overflow: hidden; color: white; margin: 50px auto;}
    #in_footer>p>a{color: #d3d3d3; text-decoration: none; text-align: center;}
    #in_footer>p{width:auto; height: auto; margin-right: 20px; /*auto가 자꾸 100%로 잡힘*/
        float: left; font-size: 18px;}
    #copy{width: 100%; height: auto; }
    #copy>p{width: auto; height: auto; text-align: center; font-size: 14px; padding-bottom: 8px; color: #6e6e6e;}
    
}/**/